In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
x = np.array([1,2,3,4,5])
y=2*x

In [4]:
print("{}\n{}".format(x,y))

[1 2 3 4 5]
[ 2  4  6  8 10]

In [5]:
x=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [6]:
6//8

0

In [7]:
6//998989

0

In [8]:
909098//6

151516

In [9]:
12//2

6

In [10]:
12/2

6.0

In [11]:
144//2

72

In [12]:
144/2

72.0

In [13]:
2/144

0.013888888888888888

In [14]:
2//144

0

In [15]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)
tuple1[-4]

7

In [16]:
my_list=['astro',1,2,3,'cosmo']
my_list.append('1213')
print(my_list)

['astro', 1, 2, 3, 'cosmo', '1213']

In [17]:
my_string = "Krittika: The Astronomy Club of IITB"
print(my_string[:8])
print(my_string.split('The')) #Try putting in another character or a string and see how the output changes

Krittika
['Krittika: ', ' Astronomy Club of IITB']

In [18]:
string_with_spaces = "   Why are there spaces here? "

In [19]:
list_of_words = string_with_spaces.split()
print(list_of_words)

['Why', 'are', 'there', 'spaces', 'here?']

In [20]:
string_without_spaces = ' '.join(list_of_words) # what happens if you use '&' instead of ' '?
string_without_spaces

'Why are there spaces here?'

In [21]:
string_with_spaces.strip()

'Why are there spaces here?'

In [22]:
my_dictionary = {'Phobos':'Mars', 'Ganymede':'Jupiter', 'Titan':'Saturn', 'Titania':'Uranus', 'Triton':'Neptune'}

In [23]:

moon = 'Phobos'
print(f'The largest moon of {my_dictionary[moon]} is {moon}')

The largest moon of Mars is Phobos

In [24]:
with open('C:\\Users\\Vishal\\Downloads\\Moons_and_planets.csv', 'r') as f:
    a = f.read().split('\n')

In [25]:
print(a[:5])

['# Name of Moon, Name of Planet, Diameter (km)', 'Moon,Earth,1737.1', 'Phobos,Mars,11.1', 'Deimos,Mars,6.2', 'Io,Jupiter,1818.1']

In [26]:
data_moons = []
for b in a:
    data_moons.append(b.split(','))

In [27]:
data_moons[:5]

[['# Name of Moon', ' Name of Planet', ' Diameter (km)'],
 ['Moon', 'Earth', '1737.1'],
 ['Phobos', 'Mars', '11.1'],
 ['Deimos', 'Mars', '6.2'],
 ['Io', 'Jupiter', '1818.1']]

In [28]:
pd.read_csv('C:\\Users\\Vishal\\Downloads\\Moons_and_planets.csv')

    # Name of Moon  Name of Planet   Diameter (km)
0             Moon           Earth          1737.1
1           Phobos            Mars            11.1
2           Deimos            Mars             6.2
3               Io         Jupiter          1818.1
4           Europa         Jupiter          1560.7
..             ...             ...             ...
205         Charon           Pluto           606.0
206            Nix           Pluto            23.0
207          Hydra           Pluto            30.5
208       Kerberos           Pluto            14.0
209           Styx           Pluto            10.0

[210 rows x 3 columns]

In [29]:
del a[0]

In [30]:
a[:5]

['Moon,Earth,1737.1',
 'Phobos,Mars,11.1',
 'Deimos,Mars,6.2',
 'Io,Jupiter,1818.1',
 'Europa,Jupiter,1560.7']

In [31]:
mercury,venus,earth,mars,jupiter,saturn,uranus,neptune,pluto=[0,0,0,0,0,0,0,0,0]

In [32]:
print(data_moons[-5:])

[['Nix', 'Pluto', '23.0'], ['Hydra', 'Pluto', '30.5'], ['Kerberos', 'Pluto', '14.0'], ['Styx', 'Pluto', '10.0'], ['']]

In [33]:
del data_moons[len(data_moons)-1]

In [34]:
data_moons[-5:]

[['Charon', 'Pluto', '606.0'],
 ['Nix', 'Pluto', '23.0'],
 ['Hydra', 'Pluto', '30.5'],
 ['Kerberos', 'Pluto', '14.0'],
 ['Styx', 'Pluto', '10.0']]

In [35]:
for i in range(len(data_moons)):
    if data_moons[i][1]== 'Mercury':
        mercury=mercury+1
    elif data_moons[i][1]=='Venus':
        venus=venus+1
    elif data_moons[i][1] == 'Earth':
        earth=earth+1
    elif data_moons[i][1]== 'Mars':
        mars=mars+1
    elif data_moons[i][1]== 'Jupiter':
        jupiter=jupiter+1
    elif data_moons[i][1]== 'Saturn':
        saturn=saturn+1
    elif data_moons[i][1]== 'Uranus':
        uranus=uranus+1
    elif data_moons[i][1]== 'Neptune':
        neptune=neptune+1
    elif data_moons[i][1]== 'Pluto':
        pluto=pluto+1

In [36]:
print(mercury,venus,earth,mars,jupiter,saturn,uranus,neptune,pluto)

0 0 1 2 79 82 27 14 5

In [37]:
print(f"Jupiter has {jupiter} moons")

Jupiter has 79 moons

In [38]:
del data_moons[0]

In [39]:
data_moons[-2:]

[['Kerberos', 'Pluto', '14.0'], ['Styx', 'Pluto', '10.0']]

In [41]:
size = []
for i in range(len(data_moons)):
    size.append(float(data_moons[i][2]))#taking name and size of the moon from the above list
    #bubble sort algorithm
for i in range(0,len(data_moons)):
    for j in range(0,len(data_moons)-1-i):
        if size[j]>size[j+1]:#sorting the list by its size
            size[j],size[j+1]=size[j+1],size[j]
            data_moons[j],data_moons[j+1]=data_moons[j+1],data_moons[j]

In [42]:
size

[0.15,
 0.33,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.25,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.5,
 1.6,
 1.6,
 1.9,
 1.9,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.2,
 2.5,
 2.5,
 2.5,
 2.6,
 2.6,
 2.7,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.4,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.8,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.3,
 5.0,
 5.5,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.2,
 7.5,
 8.0,
 8.2,
 9.0,
 9.0,
 9.0,
 9.5,
 10.0,
 10.0,
 10.0,
 11.0,
 11.1,
 12.0,
 12.8,
 14.0,
 14.0,
 15.0,
 15.3,
 16.0,
 16.0,
 17.4,
 18.0,
 19.0,
 20.0,
 20.0,
 20.1,
 21.0,
 21.0,
 21.4,
 21.5,
 22.0,
 23.0,
 23.0,
 24.0,
 25.0,
 25.7,
 30.0,
 30.0,
 30.5,
 31.0,
 32.0,
 33.0,
 36.0,
 39.8,
 40.3,
 40.6,
 41.0,
 43.0,
 46.8,
 46.8,
 49.3,
 58.3,
 67.0,
 67.6,
 75.0,
 78.5,
 81.0,
 83.5,
 88.0,
 90.4,
 97.0,
 106.6,
 138.6,
 178.5,
 198.2,
 210.0,
 235.8,
 252.3,
 536.3,
 562.5,
 578.9,
 584.7,
 606.0,
 734.5,
 761.4,
 764.5,
 788.9,
 1353.4,
 1560.7,
 1737.1,
 1818.1,
 2408.4,
 2575.5,
 2634.1]

In [43]:
print("{:<15}{:<8}{:>1}".format("Moon", "Planet", "Diameter"))#the {:<int} are for giving space
print("-"*30)
for i in data_moons:
    print(f"{i[0]:<15}{i[1]:<8}{i[2]:>5}")

Moon           Planet  Diameter
------------------------------
S/2009 S 1     Saturn   0.15
Aegaeon        Saturn   0.33
S/2010 J 2     Jupiter   0.5
S/2011 J 2     Jupiter   0.5
Valetudo       Jupiter   0.5
S/2017 J 8     Jupiter   0.5
S/2011 J 1     Jupiter   0.5
S/2003 J 9     Jupiter   0.5
S/2003 J 12    Jupiter   0.5
Euporie        Jupiter   1.0
Orthosie       Jupiter   1.0
Sponde         Jupiter   1.0
Kale           Jupiter   1.0
Pasithee       Jupiter   1.0
Mneme          Jupiter   1.0
Thelxinoe      Jupiter   1.0
Kallichore     Jupiter   1.0
Cyllene        Jupiter   1.0
Kore           Jupiter   1.0
Herse          Jupiter   1.0
S/2010 J 1     Jupiter   1.0
S/2003 J 18    Jupiter   1.0
Philophrosyne  Jupiter   1.0
Eupheme        Jupiter   1.0
S/2003 J 19    Jupiter   1.0
S/2017 J 2     Jupiter   1.0
S/2017 J 3     Jupiter   1.0
Pandia         Jupiter   1.0
S/2017 J 5     Jupiter   1.0
S/2017 J 6     Jupiter   1.0
S/2017 J 7     Jupiter   1.0
S/2017 J 9     Jupiter   1.0
Ersa           Jupiter   1.0
S/2003 J 2     Jupiter   1.0
S/2003 J 4     Jupiter   1.0
S/2003 J 10    Jupiter   1.0
S/2003 J 16    Jupiter   1.0
S/2003 J 23    Jupiter   1.0
Anthe          Saturn    1.0
Polydeuces     Saturn   1.25
Aitne          Jupiter   1.5
Eurydome       Jupiter   1.5
Euanthe        Jupiter   1.5
Hegemone       Jupiter   1.5
Arche          Jupiter   1.5
Carpo          Jupiter   1.5
Erinome        Jupiter   1.6
Methone        Saturn    1.6
Chaldene       Jupiter   1.9
Isonoe         Jupiter   1.9
Autonoe        Jupiter   2.0
Thyone         Jupiter   2.0
Hermippe       Jupiter   2.0
Aoede          Jupiter   2.0
Helike         Jupiter   2.0
Eukelade       Jupiter   2.0
Dia            Jupiter   2.0
Eirene         Jupiter   2.0
S/2017 J 1     Jupiter   2.0
Pallene        Saturn    2.0
Fenrir         Saturn    2.0
S/2004 S 17    Saturn    2.0
Harpalyke      Jupiter   2.2
Taygete        Jupiter   2.5
Farbauti       Saturn    2.5
S/2004 S 12    Saturn    2.5
Kalyke         Jupiter   2.6
Iocaste        Jupiter   2.6
Megaclite      Jupiter   2.7
S/2016 J 1     Jupiter   3.0
Aegir          Saturn    3.0
Bebhionn       Saturn    3.0
Bergelmir      Saturn    3.0
Fornjot        Saturn    3.0
Hati           Saturn    3.0
Loge           Saturn    3.0
Skoll          Saturn    3.0
Surtur         Saturn    3.0
Jarnsaxa       Saturn    3.0
Greip          Saturn    3.0
S/2004 S 7     Saturn    3.0
S/2004 S 13    Saturn    3.0
S/2006 S 1     Saturn    3.0
S/2006 S 3     Saturn    3.0
S/2007 S 2     Saturn    3.0
S/2007 S 3     Saturn    3.0
S/2004 S 20    Saturn    3.0
S/2004 S 21    Saturn    3.0
S/2004 S 22    Saturn    3.0
S/2004 S 24    Saturn    3.0
S/2004 S 30    Saturn    3.0
S/2004 S 34    Saturn    3.0
S/2004 S 36    Saturn    3.0
S/2004 S 39    Saturn    3.0
Praxidike      Jupiter   3.4
Suttungr       Saturn    3.5
Mundilfari     Saturn    3.5
Thrymr         Saturn    3.5
Narvi          Saturn    3.5
Bestla         Saturn    3.5
Kari           Saturn    3.5
Tarqeq         Saturn    3.5
Daphnis        Saturn    3.8
Themisto       Jupiter   4.0
Skathi         Saturn    4.0
Hyrrokkin      Saturn    4.0
S/2004 S 23    Saturn    4.0
S/2004 S 25    Saturn    4.0
S/2004 S 26    Saturn    4.0
S/2004 S 28    Saturn    4.0
S/2004 S 29    Saturn    4.0
S/2004 S 31    Saturn    4.0
S/2004 S 32    Saturn    4.0
S/2004 S 33    Saturn    4.0
S/2004 S 37    Saturn    4.0
S/2004 S 38    Saturn    4.0
Callirrhoe     Jupiter   4.3
Erriapus       Saturn    5.0
Margaret       Uranus    5.5
Ijiraq         Saturn    6.0
S/2004 S 27    Saturn    6.0
S/2004 S 35    Saturn    6.0
Francisco      Uranus    6.0
Ferdinand      Uranus    6.0
Mab            Uranus    6.0
Deimos         Mars      6.2
Tarvos         Saturn    7.5
Kiviuq         Saturn    8.0
Adrastea       Jupiter   8.2
Ymir           Saturn    9.0
Trinculo       Uranus    9.0
Cupid          Uranus    9.0
Calypso        Saturn    9.5
Leda           Jupiter  10.0
Stephano       Uranus   10.0
Styx           Pluto    10.0
Paaliaq        Saturn   11.0
Phobos         Mars     11.1
Telesto        Saturn   12.0
Pan            Saturn   12.8
Ananke         Jupiter  14.0
Kerberos       Pluto    14.0
Perdita        Uranus   15.0
Atlas          Saturn   15.3
Helene         Saturn   16.0
Albiorix       Saturn   16.0
Hippocamp      Neptune  17.4
Lysithea       Jupiter  18.0
Sinope         Jupiter  19.0
Siarnaq        Saturn   20.0
Psamathe       Neptune  20.0
Cordelia       Uranus   20.1
Caliban        Uranus   21.0
Laomedeia      Neptune  21.0
Ophelia        Uranus   21.4
Metis          Jupiter  21.5
Sao            Neptune  22.0
Carme          Jupiter  23.0
Nix            Pluto    23.0
Setebos        Uranus   24.0
Prospero       Uranus   25.0
Bianca         Uranus   25.7
Pasiphae       Jupiter  30.0
Neso           Neptune  30.0
Hydra          Pluto    30.5
Halimede       Neptune  31.0
Desdemona      Uranus   32.0
Naiad          Neptune  33.0
Rosalind       Uranus   36.0
Cressida       Uranus   39.8
Belinda        Uranus   40.3
Pandora        Saturn   40.6
Thalassa       Neptune  41.0
Elara          Jupiter  43.0
Prometheus     Saturn   46.8
Juliet         Uranus   46.8
Thebe          Jupiter  49.3
Epimetheus     Saturn   58.3
Himalia        Jupiter  67.0
Portia         Uranus   67.6
Despina        Neptune  75.0
Sycorax        Uranus   78.5
Puck           Uranus   81.0
Amalthea       Jupiter  83.5
Galatea        Neptune  88.0
Janus          Saturn   90.4
Larissa        Neptune  97.0
Phoebe         Saturn  106.6
Hyperion       Saturn  138.6
Nereid         Neptune 178.5
Mimas          Saturn  198.2
Proteus        Neptune 210.0
Miranda        Uranus  235.8
Enceladus      Saturn  252.3
Tethys         Saturn  536.3
Dione          Saturn  562.5
Ariel          Uranus  578.9
Umbriel        Uranus  584.7
Charon         Pluto   606.0
Iapetus        Saturn  734.5
Oberon         Uranus  761.4
Rhea           Saturn  764.5
Titania        Uranus  788.9
Triton         Neptune 1353.4
Europa         Jupiter 1560.7
Moon           Earth   1737.1
Io             Jupiter 1818.1
Callisto       Jupiter 2408.4
Titan          Saturn  2575.5
Ganymede       Jupiter 2634.1

In [49]:
data_moons

[['S/2009 S 1', 'Saturn', '0.15'],
 ['Aegaeon', 'Saturn', '0.33'],
 ['S/2010 J 2', 'Jupiter', '0.5'],
 ['S/2011 J 2', 'Jupiter', '0.5'],
 ['Valetudo', 'Jupiter', '0.5'],
 ['S/2017 J 8', 'Jupiter', '0.5'],
 ['S/2011 J 1', 'Jupiter', '0.5'],
 ['S/2003 J 9', 'Jupiter', '0.5'],
 ['S/2003 J 12', 'Jupiter', '0.5'],
 ['Euporie', 'Jupiter', '1.0'],
 ['Orthosie', 'Jupiter', '1.0'],
 ['Sponde', 'Jupiter', '1.0'],
 ['Kale', 'Jupiter', '1.0'],
 ['Pasithee', 'Jupiter', '1.0'],
 ['Mneme', 'Jupiter', '1.0'],
 ['Thelxinoe', 'Jupiter', '1.0'],
 ['Kallichore', 'Jupiter', '1.0'],
 ['Cyllene', 'Jupiter', '1.0'],
 ['Kore', 'Jupiter', '1.0'],
 ['Herse', 'Jupiter', '1.0'],
 ['S/2010 J 1', 'Jupiter', '1.0'],
 ['S/2003 J 18', 'Jupiter', '1.0'],
 ['Philophrosyne', 'Jupiter', '1.0'],
 ['Eupheme', 'Jupiter', '1.0'],
 ['S/2003 J 19', 'Jupiter', '1.0'],
 ['S/2017 J 2', 'Jupiter', '1.0'],
 ['S/2017 J 3', 'Jupiter', '1.0'],
 ['Pandia', 'Jupiter', '1.0'],
 ['S/2017 J 5', 'Jupiter', '1.0'],
 ['S/2017 J 6', 'Jupiter', '1.0'],
 ['S/2017 J 7', 'Jupiter', '1.0'],
 ['S/2017 J 9', 'Jupiter', '1.0'],
 ['Ersa', 'Jupiter', '1.0'],
 ['S/2003 J 2', 'Jupiter', '1.0'],
 ['S/2003 J 4', 'Jupiter', '1.0'],
 ['S/2003 J 10', 'Jupiter', '1.0'],
 ['S/2003 J 16', 'Jupiter', '1.0'],
 ['S/2003 J 23', 'Jupiter', '1.0'],
 ['Anthe', 'Saturn', '1.0'],
 ['Polydeuces', 'Saturn', '1.25'],
 ['Aitne', 'Jupiter', '1.5'],
 ['Eurydome', 'Jupiter', '1.5'],
 ['Euanthe', 'Jupiter', '1.5'],
 ['Hegemone', 'Jupiter', '1.5'],
 ['Arche', 'Jupiter', '1.5'],
 ['Carpo', 'Jupiter', '1.5'],
 ['Erinome', 'Jupiter', '1.6'],
 ['Methone', 'Saturn', '1.6'],
 ['Chaldene', 'Jupiter', '1.9'],
 ['Isonoe', 'Jupiter', '1.9'],
 ['Autonoe', 'Jupiter', '2.0'],
 ['Thyone', 'Jupiter', '2.0'],
 ['Hermippe', 'Jupiter', '2.0'],
 ['Aoede', 'Jupiter', '2.0'],
 ['Helike', 'Jupiter', '2.0'],
 ['Eukelade', 'Jupiter', '2.0'],
 ['Dia', 'Jupiter', '2.0'],
 ['Eirene', 'Jupiter', '2.0'],
 ['S/2017 J 1', 'Jupiter', '2.0'],
 ['Pallene', 'Saturn', '2.0'],
 ['Fenrir', 'Saturn', '2.0'],
 ['S/2004 S 17', 'Saturn', '2.0'],
 ['Harpalyke', 'Jupiter', '2.2'],
 ['Taygete', 'Jupiter', '2.5'],
 ['Farbauti', 'Saturn', '2.5'],
 ['S/2004 S 12', 'Saturn', '2.5'],
 ['Kalyke', 'Jupiter', '2.6'],
 ['Iocaste', 'Jupiter', '2.6'],
 ['Megaclite', 'Jupiter', '2.7'],
 ['S/2016 J 1', 'Jupiter', '3.0'],
 ['Aegir', 'Saturn', '3.0'],
 ['Bebhionn', 'Saturn', '3.0'],
 ['Bergelmir', 'Saturn', '3.0'],
 ['Fornjot', 'Saturn', '3.0'],
 ['Hati', 'Saturn', '3.0'],
 ['Loge', 'Saturn', '3.0'],
 ['Skoll', 'Saturn', '3.0'],
 ['Surtur', 'Saturn', '3.0'],
 ['Jarnsaxa', 'Saturn', '3.0'],
 ['Greip', 'Saturn', '3.0'],
 ['S/2004 S 7', 'Saturn', '3.0'],
 ['S/2004 S 13', 'Saturn', '3.0'],
 ['S/2006 S 1', 'Saturn', '3.0'],
 ['S/2006 S 3', 'Saturn', '3.0'],
 ['S/2007 S 2', 'Saturn', '3.0'],
 ['S/2007 S 3', 'Saturn', '3.0'],
 ['S/2004 S 20', 'Saturn', '3.0'],
 ['S/2004 S 21', 'Saturn', '3.0'],
 ['S/2004 S 22', 'Saturn', '3.0'],
 ['S/2004 S 24', 'Saturn', '3.0'],
 ['S/2004 S 30', 'Saturn', '3.0'],
 ['S/2004 S 34', 'Saturn', '3.0'],
 ['S/2004 S 36', 'Saturn', '3.0'],
 ['S/2004 S 39', 'Saturn', '3.0'],
 ['Praxidike', 'Jupiter', '3.4'],
 ['Suttungr', 'Saturn', '3.5'],
 ['Mundilfari', 'Saturn', '3.5'],
 ['Thrymr', 'Saturn', '3.5'],
 ['Narvi', 'Saturn', '3.5'],
 ['Bestla', 'Saturn', '3.5'],
 ['Kari', 'Saturn', '3.5'],
 ['Tarqeq', 'Saturn', '3.5'],
 ['Daphnis', 'Saturn', '3.8'],
 ['Themisto', 'Jupiter', '4.0'],
 ['Skathi', 'Saturn', '4.0'],
 ['Hyrrokkin', 'Saturn', '4.0'],
 ['S/2004 S 23', 'Saturn', '4.0'],
 ['S/2004 S 25', 'Saturn', '4.0'],
 ['S/2004 S 26', 'Saturn', '4.0'],
 ['S/2004 S 28', 'Saturn', '4.0'],
 ['S/2004 S 29', 'Saturn', '4.0'],
 ['S/2004 S 31', 'Saturn', '4.0'],
 ['S/2004 S 32', 'Saturn', '4.0'],
 ['S/2004 S 33', 'Saturn', '4.0'],
 ['S/2004 S 37', 'Saturn', '4.0'],
 ['S/2004 S 38', 'Saturn', '4.0'],
 ['Callirrhoe', 'Jupiter', '4.3'],
 ['Erriapus', 'Saturn', '5.0'],
 ['Margaret', 'Uranus', '5.5'],
 ['Ijiraq', 'Saturn', '6.0'],
 ['S/2004 S 27', 'Saturn', '6.0'],
 ['S/2004 S 35', 'Saturn', '6.0'],
 ['Francisco', 'Uranus', '6.0'],
 ['Ferdinand', 'Uranus', '6.0'],
 ['Mab', 'Uranus', '6.0'],
 ['Deimos', 'Mars', '6.2'],
 ['Tarvos', 'Saturn', '7.5'],
 ['Kiviuq', 'Saturn', '8.0'],
 ['Adrastea', 'Jupiter', '8.2'],
 ['Ymir', 'Saturn', '9.0'],
 ['Trinculo', 'Uranus', '9.0'],
 ['Cupid', 'Uranus', '9.0'],
 ['Calypso', 'Saturn', '9.5'],
 ['Leda', 'Jupiter', '10.0'],
 ['Stephano', 'Uranus', '10.0'],
 ['Styx', 'Pluto', '10.0'],
 ['Paaliaq', 'Saturn', '11.0'],
 ['Phobos', 'Mars', '11.1'],
 ['Telesto', 'Saturn', '12.0'],
 ['Pan', 'Saturn', '12.8'],
 ['Ananke', 'Jupiter', '14.0'],
 ['Kerberos', 'Pluto', '14.0'],
 ['Perdita', 'Uranus', '15.0'],
 ['Atlas', 'Saturn', '15.3'],
 ['Helene', 'Saturn', '16.0'],
 ['Albiorix', 'Saturn', '16.0'],
 ['Hippocamp', 'Neptune', '17.4'],
 ['Lysithea', 'Jupiter', '18.0'],
 ['Sinope', 'Jupiter', '19.0'],
 ['Siarnaq', 'Saturn', '20.0'],
 ['Psamathe', 'Neptune', '20.0'],
 ['Cordelia', 'Uranus', '20.1'],
 ['Caliban', 'Uranus', '21.0'],
 ['Laomedeia', 'Neptune', '21.0'],
 ['Ophelia', 'Uranus', '21.4'],
 ['Metis', 'Jupiter', '21.5'],
 ['Sao', 'Neptune', '22.0'],
 ['Carme', 'Jupiter', '23.0'],
 ['Nix', 'Pluto', '23.0'],
 ['Setebos', 'Uranus', '24.0'],
 ['Prospero', 'Uranus', '25.0'],
 ['Bianca', 'Uranus', '25.7'],
 ['Pasiphae', 'Jupiter', '30.0'],
 ['Neso', 'Neptune', '30.0'],
 ['Hydra', 'Pluto', '30.5'],
 ['Halimede', 'Neptune', '31.0'],
 ['Desdemona', 'Uranus', '32.0'],
 ['Naiad', 'Neptune', '33.0'],
 ['Rosalind', 'Uranus', '36.0'],
 ['Cressida', 'Uranus', '39.8'],
 ['Belinda', 'Uranus', '40.3'],
 ['Pandora', 'Saturn', '40.6'],
 ['Thalassa', 'Neptune', '41.0'],
 ['Elara', 'Jupiter', '43.0'],
 ['Prometheus', 'Saturn', '46.8'],
 ['Juliet', 'Uranus', '46.8'],
 ['Thebe', 'Jupiter', '49.3'],
 ['Epimetheus', 'Saturn', '58.3'],
 ['Himalia', 'Jupiter', '67.0'],
 ['Portia', 'Uranus', '67.6'],
 ['Despina', 'Neptune', '75.0'],
 ['Sycorax', 'Uranus', '78.5'],
 ['Puck', 'Uranus', '81.0'],
 ['Amalthea', 'Jupiter', '83.5'],
 ['Galatea', 'Neptune', '88.0'],
 ['Janus', 'Saturn', '90.4'],
 ['Larissa', 'Neptune', '97.0'],
 ['Phoebe', 'Saturn', '106.6'],
 ['Hyperion', 'Saturn', '138.6'],
 ['Nereid', 'Neptune', '178.5'],
 ['Mimas', 'Saturn', '198.2'],
 ['Proteus', 'Neptune', '210.0'],
 ['Miranda', 'Uranus', '235.8'],
 ['Enceladus', 'Saturn', '252.3'],
 ['Tethys', 'Saturn', '536.3'],
 ['Dione', 'Saturn', '562.5'],
 ['Ariel', 'Uranus', '578.9'],
 ['Umbriel', 'Uranus', '584.7'],
 ['Charon', 'Pluto', '606.0'],
 ['Iapetus', 'Saturn', '734.5'],
 ['Oberon', 'Uranus', '761.4'],
 ['Rhea', 'Saturn', '764.5'],
 ['Titania', 'Uranus', '788.9'],
 ['Triton', 'Neptune', '1353.4'],
 ['Europa', 'Jupiter', '1560.7'],
 ['Moon', 'Earth', '1737.1'],
 ['Io', 'Jupiter', '1818.1'],
 ['Callisto', 'Jupiter', '2408.4'],
 ['Titan', 'Saturn', '2575.5'],
 ['Ganymede', 'Jupiter', '2634.1']]

In [44]:
df = pd.DataFrame(data_moons, columns=["Moon","Planet","Diameter"])

In [45]:
df.to_csv('jajja.csv', index=False)

In [46]:
df.head()

         Moon   Planet Diameter
0  S/2009 S 1   Saturn     0.15
1     Aegaeon   Saturn     0.33
2  S/2010 J 2  Jupiter      0.5
3  S/2011 J 2  Jupiter      0.5
4    Valetudo  Jupiter      0.5

In [47]:
df.tail()

         Moon   Planet Diameter
205      Moon    Earth   1737.1
206        Io  Jupiter   1818.1
207  Callisto  Jupiter   2408.4
208     Titan   Saturn   2575.5
209  Ganymede  Jupiter   2634.1

In [48]:
df

           Moon   Planet Diameter
0    S/2009 S 1   Saturn     0.15
1       Aegaeon   Saturn     0.33
2    S/2010 J 2  Jupiter      0.5
3    S/2011 J 2  Jupiter      0.5
4      Valetudo  Jupiter      0.5
..          ...      ...      ...
205        Moon    Earth   1737.1
206          Io  Jupiter   1818.1
207    Callisto  Jupiter   2408.4
208       Titan   Saturn   2575.5
209    Ganymede  Jupiter   2634.1

[210 rows x 3 columns]